Wo<html>
    <head th:fragment="head">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Our CSS -->
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </head>

    <body>

    <header th:fragment="navbar">
        <div class="navbar">
            <nav>
                <div class="navbar-text">
                    <a th:href="@{index}">Front page</a>
                    <a th:href="@{info}">Info page</a>
                    <a th:href="@{responsibility}">Responsibility page</a>
                    <a th:href="@{profile}">Profile page</a>
                </div>
            </nav>
        </div>
    </header>

    </body>
</html>
