<html>
<head th:fragment="head">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Our CSS -->
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>

</head>

<body>

<header class="navbar" th:fragment="navbar">
        <div class="navbar-text">
            <a th:href="@{index}">Front page</a>
        </div>

        <div class="navbar-text">
            <a th:href="@{info}">Info page</a>
        </div>

        <div class="navbar-text">
            <a th:href="@{responsibility}">Responsibility page</a>
        </div>

        <div class="navbar-text">
            <a th:href="@{what_we_do.html}">Take Action!</a>
        </div>

        <div class="navbar-text">
            <a th:href="@{profile}">Profile page</a>
        </div>
</header>

<footer class="footer" th:fragment="footer">
        <div class="footer-text">
            Author: <a href="https://github.com/MaltheGram" target="_blank">Malthe Gram</a>
            <a href="https://github.com/simongr3dal" target="_blank">Simon Gredal</a>
            <a href="https://github.com/SirMeows" target="_blank">Mari Helena Engelund</a>
            <a href="https://github.com/Frederikmahipal" target="_blank">Frederik Vilhelmsen</a>
            <p>Click on an author to visit their GitHub page</p>
            <div class="author-contact">
                <p>Contact an author:<a href="mailto:malthegram22@gmail.com">Malthe Gram</a>
                    <a href="mailto:simo95i9@stud.kea.dk">Simon Gredal</a>
                    <a href="mailto:mari94px@stud.kea.dk">Mari Helena Engelund</a>
                    <a href="mailto:fred88n5@stud.kea.dk">Frederik Vilhelmsen</a></p>
            </div>

        </div>
</footer>

</body>
</html>
