/*
 * @author Malthe
 * 06/10/2021 18.45
 *
 * Project_Foodwaste
 *
 */

:root {
  --border-color: #008000FF;
  --primary-text-color: #87CEFAFF;
}
body{
 margin: 0;
}

.navbar {
  text-align: center;
  border: 8px solid var(--border-color);
  margin: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0.1%;
  height: 10%;
  font-weight: bold;



}
.navbar-text a{
  display: inline-block;
  margin-left: 75px;
  padding-top: 20px;
  text-decoration: none;
  color: var(--primary-text-color);
  position: relative;

}

nav a:hover{
  color: #000;
}

nav a::before{
  content: " ";
  display: block;
  height: 5px;
  width: 0;
  background-color: #444;
  position: absolute;
  bottom: -5px;
  transition: all ease-in-out 250ms;


}

nav a:hover::before{
  width: 100%;
}




