/*
 * @author Malthe
 * 06/10/2021 18.08
 *
 * Project_Foodwaste
 *
 */

@import "colors.css";

body {
    font-size: 1.1rem;
    box-sizing: border-box;
}

/* Bordered box */
.box-border {
    border: 6px solid var(--border-color);
    box-sizing: border-box;
    border-radius: 1rem;
    margin: 2rem 0 1rem 0;
    padding: 1rem 2rem;
}

.row {
    display: flex;
    flex-direction: row;
}
.row > .col {
    flex-basis: 0;
    flex-grow: 1;

    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.row > :first-child { margin-left: 0; }
.row > :last-child { margin-right: 0; }


form > input[type=text] {
    font-size: 1.1rem;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid var(--border-color);
    border-left: none;
}


/* Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery img {
    max-height: 10rem;
    padding: .5rem 0;
}

/* Constrain width */
.centering-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    max-width: 1000px;
    padding: 5px;
    margin: auto;
}

/* Footer */
.footer {
    text-align: center;
    width: 100%;
    font-weight: bold;
}

.footer-text a{
    display: inline-block;
    margin-left: 25px;
    padding-top: 5px;
    text-decoration: none;
    color: var(--primary-text-color);
    position: relative;
}

.footer-text a {
    color: var(--primary-text-color);
    text-decoration: none;
}

.footer-text a::after{
    content: " ";
    display: block;
    height: 5px;
    width: 0;
    background-color: #444;
    bottom: 5px;
    transition: all ease-in-out 250ms;
}

.footer-text a:hover::after {
    width: 100%;
}


/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    box-sizing: border-box;
    width: 100%;
    padding: 0 1rem;

    background-color: var(--navbar-color);
    border-radius: 1rem;
}

.navbar-text {
    flex-grow: 1;
    text-align: center;
}

.navbar-text a {
    display: block;
    padding: 0.75rem 0;

    font-size: 1.2rem;
    font-weight: bold;
    font-family: sans-serif;
    color: var(--navbar-text-color);

    text-decoration: none;
}

.navbar-text a::before {
    content: " ";
    display: block;
    height: 8px;
}

.navbar-text a::after{
    content: " ";
    display: block;
    height: 4px;
    margin-top: 4px;
    width: 0;

    background-color: var(--navbar-text-color);
    transition: all ease-in-out 250ms;
}

.navbar-text a:hover::after{
    width: 100%;
}