.title{
    text-align: center;
    background-color: #000;
    color: #fff;
    opacity: .5;
}

.info-box{
    margin-top: -100px;
    margin-left: 50px;
    display: inline-block;
    background: red;
    padding: 25px 40px;
    border: 1px solid green;
    width: 200px;
    height: 220px
}

.info-box-facts{
    margin-top: 10px;
    display: inline-block;
    background: red;
    padding: 25px 40px;
    border: 1px solid green;
    width: 200px;
    height: 620px;
}



