

.title{
    text-align: center;
    font-size: 72px;
    border: 8px solid green;
    margin-top: 0;


}


.box{
    margin: 0 auto;
    width: 1000px;
}

.box a{
    margin-top: 10px;
    text-align: center;
    display: inline-block;
    background: yellow;
    padding: 15px 30px;
    border: 1px solid green;
    width: 150px;
    height: 40px;
    text-decoration: none;
    color: lightskyblue;

}
.row2, .row1{
    display:flex;
    justify-content: space-evenly;
}

#box-border{
    border: 8px solid green;
}

.footer {
    text-align: center;
    border: 8px solid green;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 98%;
    height: 10%;


}
.footer-text a{
    color: lightskyblue;
    text-decoration: none;

}
