.title{
    text-align: center;
    background: rgb(10, 180, 0);
    padding: 25px 30px;
}

.info-box{
    display: flex;
    flex-direction: column;
    background: rgb(10, 180, 0);
    padding: 20px 40px;
    width: 200px;
    height: 260px;
}

.info-box-facts{
    margin-top: 10px;
    display: inline-block;
    background: rgb(10, 180, 0);
    padding: 25px 40px;
    width: 1300px;
    height: 100px;
}



