body {
    font-family: "Goudy Old Style", serif;
    font-size: 1.2rem;
}

h1 {
    text-align: center;
}

.section-frame {
    border: 6px solid forestgreen;
    padding: 15px 30px;
    margin: 2rem 0;
    background-color: white;
}

#button-area {
    display: flex;
    justify-content: space-around;
}

.selection-element-frame {
    border: 3px solid lightgreen;
    padding: 10px 20px;
    margin:40px;
    font-size: 130%;
}

#wot-area {
    width: 100%;
}
