h1 {

}

.section-frame {
    border: 6px solid forestgreen;
    padding: 15px 30px;
    margin:40px;
}

.selection-element-frame {
    border: 3px solid lightgreen;
    padding: 10px 15px;
    margin:20px;

}
