/*!
 * @author Malthe
 * 07/10/2021 10.44
 *
 * Project_Foodwaste
 *
 */

:root {
    --border-color: #5bba6fff;
    --primary-text-color: #054a29ff;
    --text-on-green: #4491B2FF;
}

.petition, .campaigns, .statistic{
    border: 8px solid var(--primary-text-color);
    border-radius: 1.5em;
    width: 33%;
    height: 70vh;
    text-align: center;
    color: var(--primary-text-color);
    background: var(--border-color);

}

.petition {
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;


}

.statistic{
    margin-top: 10px;
    margin-left: 90px;
    margin-right: 10px;

}

.statistic{
    text-align: center;
}

div.parent{
    text-align: center;
}
.parent ul{
    display: inline-block;
    text-align: left;
}
.parent a{
    color: blue;
}


.campaigns{
    margin-top: 10px;
    margin-left: 90px;

}

.box-border {
    border: 8px solid var(--border-color);
    margin: 0px 0 10px 0;
    padding: 0;
    height: auto;

}

.row1{
    display: flex;
    justify-content: space-evenly;
}





