<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corporation</title>
</head>
<body>
    <p>Large food retailers such as Kroger, Sainsbury’s, Tesco, Carrefour, and Wal-Mart stand in a unique position to address this global food issue. Because of their direct links with farmers, processors, and consumers, they have the power to influence every facet of the supply chain. And because the traditional supermarket industry is highly concentrated (for example, in the UK, the top seven food retailers account for 87% of the grocery market), retailers have considerable market power to make a change.

        However, their high volume–low margin business model also makes them vulnerable to threats such as competition, increasing wholesale prices, and changing consumer demands. For example, super discounters such as Aldi, Lidl, and Amazon are further squeezing already thin food retail margins for large retailers. We propose a four-pronged strategy to help retailers reduce food waste as it occurs in food farming and food production, in the stores themselves, and during consumption. This strategy can also help retailers manage competitive and strategic challenges by strengthening retail partnerships with food suppliers and connecting with customers’ needs and wants in new ways.

        If you would like to find out more about our business programs, download a brochure here.</p>

</body>
</html>