<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Stop food waste</title>

</head>



<body>
    <header>
        <div>
            <h1 class="title">Stop food waste</h1>


        </div>

    </header>

    <main>
        <p class="box"><a th:href="@{info.html}">Info page</a></p>
        <p class="box">responsibility</p>
        <p class="box">what we do</p>
        <p class="box">profile</p>
        <p class="box">pic</p>

    </main>

    <footer>


    </footer>



</body>
</html>