<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Stop food waste</title>

</head>



<body>
    <header>
        <div>
            <h1 class="title">Stop food waste</h1>


        </div>

    </header>

    <main>
        <div class="box">
        <a th:href="@{info}">Info page</a>
        <a th:href="@{responsibility}">Responsibility page</a>
        <a th:href="@{what_we_do}">What we do</a>
        <a th:href="@{profile}">Profile</a>
        <a th:href="@{#}">Picture to come</a>
        </div>

    </main>

    <footer>


    </footer>



</body>
</html>