<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Stop food waste</title>

</head>



<body>
    <header>
        <h1 class="title">Stop food waste</h1>
    </header>

    <main>

       <p class="box">
            info
        </p>

        <p class="box">
            ansvar
        </p>

        <p class="box">
            hvad gør vi
        </p>

        <p class="box-under">
            profilr
        </p>

        <p class="box-under2">
            billde
        </p>


    </main>

    <footer>


    </footer>



</body>
</html>