<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stop food waste</title>
    <link rel="stylesheet" th:href="@{/css/animations.css}"/>
</head>

    <body>
        <h1 style="text-align: center">Work in progress!</h1>
        <h4 style="text-align: center">Press the rotating home bottom, to return to the front!</h4>
        <a th:href="@{../index}"> <img class="spin-360" src="/css/images/green-Home.png" alt="go to front"></a>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>



    </body>
</html>