<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles-responsibility.css"/>
    <title></title>
</head>

<body>
<div class="section-frame">
    <h1>Who Is Responsible?</h1></div>

<div class="section-frame">
    <p id="summary-text">
        2-3 line summary about what's on this page...Manufacturers, Retail, Consumers share responsibility for massive food waste etc etc etc.

    </p>
</div>

<div class="section-frame">
    <div id="button-area">
        <div class="selection-element-frame">
            <div class="Politicians"></div>
            <p>Politicians</p>
        </div>
        <div class="selection-element-frame">
            <div class="Corporations"></div>
                <p>Businesses</p>
        </div>
        <div class="selection-element-frame">
            <div class="Consumers"></div>
                <p>Consumers</p>
        </div>
    </div>

    <div id="wot-area">
        <p id="text-snippet-politicians">
            <embed type="text/html" src="politician.html">
        </p>
        <p id="text-snippet-corporations">
            <embed type="text/html" src="corporation.html">
        </p>

        <p id="text-snippet-consumers">
            <embed type="text/html" src="consumer.html">
        </p>
    </div>
</div>

<div class="section-frame">
    <div class="link">
        <p>Research sources:</p>
        <a href="https://journals.sagepub.com/doi/10.1177/0308518X17694030">SAGE journals</a>
    </div>
</div>

</body>

</html>