<link rel="stylesheet" th:href="@{/css/styles.css}"/>


<p style="color: var(--primary-text-color)">

    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste
    We aim to provide information to citizens regarding the huge amount of food waste




</p>
