<!--
  ~ @author Malthe
  ~ 06/10/2021 20.10
  ~
  ~ Project_Foodwaste
  ~
  -->

<!DOCTYPE html>
<html lang="en">
<head>


    <link rel="stylesheet" th:href="@{/css/what_we_do.css}"/>
    <th:block th:insert="fragments/components :: head"></th:block>
    <title>What We Do</title>
</head>

<body class="centering-container">
<header th:replace="fragments/components :: navbar"></header>

<main>

    <div class="box-border">
        <div class="row1">
            <div class="petition">Petition here</div>
            <div class="campaigns">Campaign here</div>

            <div class="statistic">Statistics here
               <div class="parent">
                    <ul>
                        <li>In the US, food waste is estimated at between 30-40 percent of the food supply
                            <a th:href="@{https://www.usda.gov/foodwaste/faqs}"><sup>1</sup></a>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="fragments/components :: footer"></footer>

</body>
</html>